### Answers submitted by:  Jose Medina 
### Date:  06/19/2018  
---

# [Prework 5.3]:  Pandas Exercises
---

## Q1: import numpy and pandas

In [115]:
# imports a library 'pandas', names it as 'pd'
import pandas as pd
import numpy as np

## Q2: Set options in pandas so it displays 30 `max_rows`, no limit on `max_columns`, `precision` is 3

In [116]:
# set various options in pandas
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 3)

## Q3: assign the versions of pandas and numpy to variables below

In [117]:
pd_version = pd.__version__
np_version = np.__version__
print(pd_version)
print(np_version)

0.23.1
1.14.4

## Q4: Read in the csv file `olive.csv` with pandas and assign it to variable `df`.

In [118]:
df = pd.read_csv("olive.csv")
# df = pd.read_csv("https://raw.githubusercontent.com/joselom23/dsp/master/python/pandas/olive.csv")
df.head()

# The fields are:

# Unnamed: 0
# region
# area
# palmitic
# palmitoleic
# stearic
# oleic
# linoleic
# linolenic
# arachidic
# eicosenoic

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46

## Q5: How many rows and columns are there in `df`? Put your answer in a variable `df_shape`.

In [119]:
df_shape=df.shape
print(df_shape)

(572, 11)

## Q6: assign the first 2 rows of `df` to `df_first_two`

In [120]:
df_first_two = df[:2]
df_first_two.head()

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

## Q7: How many distinct data types are there in `df`?

In [142]:
df_data_types_count =df.dtypes.nunique()
print(df_data_types_count)

2

## Q8: In `df`, create a new column `sub_region_raw`, which will be a copy of the column `Unnamed: 0`

In [122]:
df['sub_region_raw']=df['Unnamed: 0']
df.head()

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia

## Q9: In `df`, rename `Unnamed: 0` to `sub_region_desc`

In [123]:
df.rename(columns={'Unnamed: 0':'sub_region_desc'}, inplace=True)
df.head()

,sub_region_desc,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia

## Q10: In `df`, rename the column `area` to: `sub_region`

In [143]:
df.rename(columns={'area':'sub_region'}, inplace=True)
df.head()

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia

##  Q11: In `df`, get the unique values of the field `region`

In [128]:
region_unique = df['region'].unique()
print(region_unique)

[1 2 3]

## Q12:  How many unique values of 'sub_region' are there?

Hint:  the answer should be 9

In [135]:
sub_region_unique_count = df.sub_region.nunique()
print(sub_region_unique_count)

9

## Q13: Lets take a look at the field `sub_region_desc`:

In [139]:
# >>> df['sub_region_desc'].head(5)
# 0    1.North-Apulia
# 1    2.North-Apulia
# 2    3.North-Apulia
# 3    4.North-Apulia
# 4    5.North-Apulia

# Looks like 'sub_region_desc' has line numbers attached to the beginning of region name. Remove those and get the unique values in that field, assign it to `srd_unique`
srd_unique = df['sub_region_desc'].replace(regex=True,to_replace=r'[0-9]+.',value=r'')
print(srd_unique)

0      North-Apulia
1      North-Apulia
2      North-Apulia
3      North-Apulia
4      North-Apulia
5      North-Apulia
6      North-Apulia
7      North-Apulia
8      North-Apulia
9      North-Apulia
10     North-Apulia
11     North-Apulia
12     North-Apulia
13     North-Apulia
14     North-Apulia
           ...
557    West-Liguria
558    West-Liguria
559    West-Liguria
560    West-Liguria
561    West-Liguria
562    West-Liguria
563    West-Liguria
564    West-Liguria
565    West-Liguria
566    West-Liguria
567    West-Liguria
568    West-Liguria
569    West-Liguria
570    West-Liguria
571    West-Liguria
Name: sub_region_desc, Length: 572, dtype: object